.wrap{
  background: #f1f0f0;
}
html{
  font-family: '微软雅黑'
}

/* 当前位置 开始 */
.position{
  width: 100%;
  background: #19affc;
  margin-top: 3px;
  margin-bottom: 18px;
}
.position_wrap{
  width: 1200px;
  margin: 0 auto;
  height: 54px;
  line-height: 54px;
}
.position_wrap span,.position_wrap a{
  color: #fff;
  font-size: 18px;
}
.position_wrap span{
  margin-right: 15px;
}
/* 当前位置 结束 */

.name{
  width: 100%;
  background: #fff;
  margin-bottom: 30px;
}
.name_wrap{
  height: 66px;
  width: 1200px;
  margin: 0 auto;
  line-height: 66px;
}
.name_wrap>span{
  color: #19affc;
}


/* 内容  开始 */
main{
  width: 1200px;
  margin: 0 auto;
}
.mian_title{
  overflow: hidden;
}
.mian_title>div{
  width: 210px;
  height: 42px;
  line-height: 42px;
  float: left;
  text-align: center;
  background: #dbd9d9;
  border-top-left-radius: 42px;
  border-top-right-radius: 42px;
}
.mian_title>div:first-child{
  margin-left: 24px;
  margin-right: 2px;
}
#main_active{
  background: #ff0000;
  color: #fff;
}
.demand_list{
  width: 100%;
  background: #fff;
  overflow: hidden;
}
.demand_list>li{
  margin: 50px 26px 43px 32px ;
  border-bottom: 1px solid #d9d7d7;
  overflow: hidden;
  height: 385px;
}
.demand_list>li:last-child{
  border: 0;
}
.demand_list>li>div{
  float: left;
}
.demand_list>li>div:first-child{
  width: 906px;
  height: 345px;
}
.demand_list>li>div:last-child{
  width: 234px;
  height: 295px;
  margin-top: 25px;
  /* padding-left: 20px; */
  border-left: 1px solid #d9d7d7;
}
.dll_top{
  width: 100%;
  height: 263px;
}
.dll_top>div{
  float: left;
}
.dll_top .dLL_img{
  width: 262px;
  height: 262px;
  overflow: hidden;
  margin-right: 38px;
}
.dll_top .dLL_img img{
  height: 100%;
  object-fit: cover;
}
.dLL_des{
  width: 600px;
  height: 262px;
  overflow: hidden;
}
.dLL_des>h3{
  font-size: 22px;
  font-weight: 500;
}
.desDes>span{
  display: inline-block;
  background: #dbd9d9;
  border-radius: 18px;
  font-size: 18px;
  padding: 5px 10px;
  margin: 20px 30px 20px 0;
}
.desDes>span:first-child{
  margin-right: 35px;
}
.demand_pice{
  height: 38px;
  line-height: 38px;
}
.demand_pice span{
  font-size: 18px;
}
.demand_pice span:first-child{
  color: #2a2a2a;
}
.demand_pice span:last-child{
  color: #ff0000;
}
.dLL_des p{
  color: #595959;
  font-size: 18px;
  line-height: 30px;
}

.dll_bottom{
  height: 126px;
  line-height: 126px;
  width: 100%;
}
.dll_bottom>span{
  display: inline-block;
  height: 47px;
  line-height: 47px;
  padding: 0 33px;
  margin: 0 45px;
  background: #57c4fd;
  font-size: 18px;
  color: #fff;
  border-radius: 47px;
}
.dll_bottom>span:nth-child(2){
  background: #fc6182;
}
.dll_bottom>span:last-child{
  background: #fdd35e;
}
.dll_bottom>span.li_dll_bottom1{
  background: #fc6182;
}
.dll_bottom>span.li_dll_bottom2{
  background: #a379f5;
}

.hire,.sendOut{
  width: 180px;
  height: 37px;
  border-radius: 37px;
  line-height: 37px;
  color: #fff;
  font-size: 20px;
  text-align: center;
  margin-top: 18px;
  margin-left: 34px;
}
.hire{
  background: #ff0000;
}
.sendOut{
  background: #19affc;
  margin-bottom: 18px;
}
.demOrder,.development,.communicate,.quality{
  margin-left: 24px;
}
.demOrder>span:first-child,.development>span:first-child,.communicate>span:first-child,.quality>span:first-child{
  color: #6e6e6e;
  font-size: 16px;
  margin-right: 30px;
}
.demOrder>span{
  line-height: 68px;
  color: #6e6e6e;
}
.demOrder>span>i,.development>span>i,.communicate>span>i,.quality>span>i{
  display: inline-block;
  width: 22px;
  height: 22px;
  
}
.demOrder>span>i{
  background: url("../imgs/demand_2.png");
  background-size: 22px;
  margin-right: 5px;
}
.development>span>i,.quality>span>i,.communicate>span>i{
  background: url("../imgs/demand_3.png");
  background-size: 22px;
  margin-right: 5px;
}
.demOrder>span>span{
  color: #ff0000;
}
/* 内容  结束 */

/* 底部 开始 */
.demand_foot {
  height: 180px;
  background: #fff;
  margin-top: 25px;
  overflow: hidden;
}
.demand_foot .footerCenter .list li{
  float: left;
  font-size: 16px;
  margin-right: 148px;
}
.demand_foot .footerCenter .list li:last-child{
  margin: 0;
}
.demand_foot .footerCenter>p{
  line-height: 88px;
}
/* 底部 结束 */