*{
	margin:0;
	padding:0;
}
a{
	text-decoration: none;
	color:#000;
}
li{
	list-style:none;	
}
body{
	background:#F8F8F9;
}
/*头部开始*/
.head{
	width: 100%;
	height:45px;
	background:#F1F0F0;	
}
.head-center{
	width:1200px;
	height:45px;
	margin:0 auto;
}
.head-left,.head-right{
	width:50%;
	height:45px;
	float:left;
}
.head-left{
	line-height: 45px;
	color:#676767;
	font-size: 18px;
}
.head-right{
	float:right;
	position: relative;
}
.head-right i{
	float:right;
	font-size:22px;
	line-height: 45px;
	margin-right: 50px;
}
.head-right span{
	display: inline-block;
	width:20px;
	height:20px;
	line-height: 20px;
	background:red;
	border-radius:50%;
	color:#fff;
	text-align: center;
	position: absolute;
	right:38px;
	top:5px;
}
/*头部结束*/

/*导航开始*/
.nav{
	width: 100%;
	height:72px;
	background:#fff;
}
.nav-wrap{
	width:1200px;
	height:72px;
	margin:0 auto;
}
.nav-left{
	width:135px;
	float:left;
}
.nav-center{
	float:left;
	width: 550px;
	height:72px;
	overflow: hidden;
}
.nav-center ul li{
	float: left;
	line-height: 55px;
	margin-top: 15px;
}
.nav-center ul li a{
	display: block;
	color:#2A2A2A;
	padding: 0 10px;
	margin-right: 20px;
	font-size: 18px;
}
.nav-center ul li a:hover{
	color:#FF2A2A;
	border-bottom:2px solid #FF2A2A;
}
.nav-center .active{
	color:#FF2A2A;
	border-bottom:2px solid #FF2A2A;
}
.nav-right{
	width:515px;
	height:72px;
	float:left;
}
.nav-right input{
	width:295px;
	height:35px;
	border-radius:40px;
	border:0;
	outline: none;
	padding-left:40px;
	margin-top:25px;
	font-size: 16px;
	color: #757575;
	background:url(../imgs/fangdajing.png) no-repeat #DBD9D9 7px 3px;
}
.nav-right input::-webkit-input-placeholder{
	color:#989898;
}
.nav-right a{
	display: inline-block;
	width:120px;
	height:35px;
	background:#FF0000;
	border-radius: 40px;
	text-align: center;
	line-height: 35px;
	color:#fff;
	margin-left:46px;
}
/*导航结束*/

/*当前位置开始*/
.currnt{
	width: 100%;
	height: 50px;
	background: #E7E7E7;
	margin-bottom: 20px;
	clear: both;
}
.currnt-content{
	width: 1200px;
	height: 50px;
	margin: 0 auto;
}
.currnt-content p{
	line-height: 50px;
	color:#3E3E3E;
	font-size: 14px;
}
.currnt-content p span{
	margin-right: 5px;
	color: #2A2A2A;
	font-weight: bolder;
	font-size: 16px;
}
/*当前位置结束*/

/*大威平台 发布需求 开始*/
.platSafety{
	width: 1200px;
	margin: 0 auto;
	margin-bottom: 20px;
	overflow: hidden;
}
.platSafety .left{
	float: left;
	width: 235px;
	height: 350px;
	background: #fff;
}
.platSafety .left .left_top{
	height: 46px;
	width: 100%;
	line-height: 46px;
	text-align: center;
	border-bottom: 1px solid #E7E7E7;
	font-weight: bolder;
}
.platSafety .left ul{
	width:100%;
}
.platSafety .left ul li{
	width:100%;
	height: 42px;
	line-height: 42px;
	text-align: center;
}
.platSafety .left ul li a{
	display: block;
	font-size: 14px;
	color:#989898;
}
.platSafety .left ul li a:hover{
	background: #FFC2C2;
	color: #413939;
	border-left: 2px solid #FF2222;
}
.platSafety .left .active{
	background: #FFC2C2;
	color: #413939;
	border-left: 2px solid #FF2222;	
}
.platSafety .right{
	float: right;
	width:945px;
	height: 540px;
	background: #fff;
}
.platSafety .right .right_top{
	height: 46px;
	line-height: 46px;
	width: 100%;
	border-bottom: 1px solid #fff;
	background: #E7E7E7;
	text-align: center;
	font-size: bolder;
}
.platSafety .right .p1{
	margin-left:425px;
	margin-top:35px;
}
.platSafety .right .p1 img{
	width:95px;
	height:95px;
	border-radius: 50%;
}
.platSafety .right .p2{
	text-align: center;
	font-size: 14px;
	color: #414141;
	margin-top: 10px;
}
.platSafety .right .p3{
	text-align: center;
	font-size: 16px;
	color: #FF1919;
	margin-top: 5px;
}
.platSafety .right .p4{
	text-align: center;
	margin-top:20px;
}
.platSafety .right .p4 input{
	width:245px;
	height:28px;
	outline: none;
	margin-left: 30px;
	padding-left: 20px;
}
.platSafety .right .p5{
	text-align: center;
	margin-top: 25px;
}
.platSafety .right .p5 a{
	display: inline-block;
	width: 190px;
	height:40px;
	background: #FF2D2D;
	color:#fff;
	text-align: center;
	line-height: 40px;
	border-radius: 10px;
}
/*大威平台 发布需求 结束 */


/*底部开始*/
.footer{
	clear: both;
	width: 100%;
	height:280px;
	background: #E5E3E3;
}
.footerCenter{
	width:1200px;
	height:100%;
	margin: 0 auto;
}
.footer .bqsy{
	text-align: center;
	font-size: 18px;
	font-weight: bolder;
	padding-top: 20px;
}
.footer .list{
	height:150px;
}
.footer .list ul{
	width:200px;
	float:left;
	margin-top:30px;
}
.footer .list ul:nth-child(1){
	margin-left: 10px;
}
.footer .list ul:nth-child(2){
	margin-right:35px;
}
.footer .list ul li{
	font-size:14px;
	color:#605F5F;
	cursor: pointer;
}
.footer .list ul li:nth-child(1){
	font-size:18px;
	margin-bottom:15px;
	color:#2A2A2A;
}
.footer .list .weinxinqq{
	padding-top:40px;
} 
.footer .list .weinxinqq img{
	width:30px;
	height:30px;
	float: left;
	margin-right:10px;
}
.footer .footer-copy{
	border-top:1px solid #ccc;
	text-align: center;
	color: #616060;
	padding-top: 20px;
}
/*底部结束*/
.clear{
	clear: both;
}